@import "tailwindcss";

:root {
  --primaryColor: #0b5bab;
  --primary-hover: #0a4b9b;
  --gray-med: #afafaf;
  --background: #fafafa;
}


#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  background-color: var(--background);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #4e4e4e;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  /* .button-primary {
    @apply bg-[var(--primaryColor)] text-white font-bold px-6 py-2 rounded-md shadow-md hover:bg-[var(--primary-hover)]
  } */

  .primary-button {
    @apply bg-[var(--primaryColor)] text-[var(--background)] font-bold text-base min-h-[50px] min-w-[150px] w-max px-8 relative rounded-full shadow-md/20 hover:bg-[var(--primary-hover)] active:shadow-none;
  }

  .secondary-button {
   @apply bg-white font-bold text-base min-h-[50px] min-w-[150px] w-max px-8 relative rounded-full border border-[var(--gray-med)]/40 shadow-md hover:bg-[var(--gray-med)]/40 active:shadow-none;
  }
}


